.channel-card {
    margin-bottom: 10px;
}

.card-body {
    padding: 10px;
}

.card-title {
    margin: 0;
    color: white;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
}

.card-text {
    margin: 0;
}

/* Tilføj en klasse for at ændre baggrunden af den øverste del */
.top-box {
    margin-top: 30px;
    background-color: #0D4D6D;/* Farven for den øverste del */
}

/* Tilføj en klasse for at ændre baggrunden af den nederste del */
.bottom-box {
    background-color: rgba(13, 77, 109, 0.43); /* Baggrundsfarve med 43% gennemsigtighed for den nederste del */
}

/* Tilføj en klasse for at formatere teksten */
.card-text {
    color: white; /* Hvid farve */
    font-family: Arial, sans-serif; /* Skrifttypen Arial */
    font-weight: bold; /* Fed skrift */

}


/* Fjern standardlink understregning */
a {
    text-decoration: none !important;
}

.mb-3{
    margin-bottom: 0rem !important;
}

/* Fjern afrundede hjørner fra boksene */
.card {
    border-radius: 0 !important;
}

